  <div class="content-wrapper">

<section class="content-header">
      <div class="container-fluid">
        <h5 class="text-center display-4">Pregled knjiga</h5>
      </div>
</section>

  <section class="content">
        <div class="container-fluid">
        
            <div class="row mt-3">
                <div class="col-md-10 offset-md-1">
                    <div class="list-group">
                                        
                   
                    
                    <div class="list-group-item" *ngFor="let b of myBooks">
                            <div class="row">
                                 <div class="col px-4">
                                    <div>
                                        <div class="float-right">Status: <b> {{b.status}}</b></div>
                                        <h3>{{b.title}}</h3>
                                        <h6>zanr: <b><i>{{b.genre}}</i></b></h6>
                                        <h6>pisac: <b><i>{{b.writer.firstName}} {{b.writer.lastName}}</i></b></h6>
                                        <br>
                                        <p class="mb-0">{{b.synopsis}}</p>
                                        <div class="float-left"> 
                                        <br>
                                        <br>
                                        <div class="icheck-primary d-inline">
					                        <input type="checkbox" id="geoId" name="geoId" [(ngModel)]="checkboxValue" [hidden]="b.status!='ODOBRENA'">
					                       <label [hidden]="b.status!='ODOBRENA'" > <i> Ukljuci geoprostornu pretragu </i>
					                        </label>
					                      </div>
                                        <button type="button" class="btn btn-block btn-outline-warning" [hidden]="b.status!='ODOBRENA' " (click)="searchBeta(b.id)">
                     	 					Pretrazi beta citaoce</button>
                     	 				</div>
                                        <div class="float-right">      
                                        <button type="button" class="btn btn-block btn-outline-primary" [disabled]="b.status!='KREIRANA'" (click)="activateBook(b.id)">
                     	 					Zahtjevaj PDF</button>
		                     	 		<button type="button" class="btn btn-block btn-outline-danger" [disabled]="b.status!='KREIRANA'" (click)="rejectBook(b.id)">
				                     	 	Odbij</button>
				                     	 <button type="button" class="btn btn-block btn-outline-success" [hidden]="b.status!='ODOBRENA' " (click)="publishBookUnit(b.id)">
				                     	 Objavi</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>                
        </div>
    </section>
    
  <section class="content">
        <div class="container-fluid">
        
            <div class="row mt-3">
                <div class="col-md-10 offset-md-1">
                    <div class="list-group">
                             <br>       <br>     <br> 
                   
                    
                    <div class="list-group-item" *ngFor="let b of betaReaders">
                            <div class="row">
                                 <div class="col px-4">
                                    <div>
                                        <div class="float-right">
                                        Grad: <b> {{b.city}}</b>
                                        <br>
                                        Drzava: <b> {{b.country}}</b>
                                        </div>
                                        <h3>{{b.firstName}} {{b.lastName}}</h3>
                                        <h5>zanr: <b><i>{{b.genre}}</i></b></h5>
                                        
                                        <div class="float-left"> 
                                        <br>
                                        <br>

                                        
                     	 				</div>
                                        <div class="float-right">      
                                        <button type="button" class="btn btn-block btn-outline-primary"  (click)="sendToBeta(b)">
                     	 					Posalji knjigu</button>
		                     	 		
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>                
        </div>
    </section>
    </div>    

