  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

<section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
          
            <div class="login-logo">
    <a href="../../index2.html"><b>Prijavi se</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">

      <form method="post" (submit) = "loginUser()">
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Username" [(ngModel)]="user.username" #username = "ngModel" name="username" id="username">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" #password="ngModel" name="password" id="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        
        <div class="row">
        	<div class="col-xs-8">
         		 <div class="checkbox icheck">
          		 <label>
              	 	<div class="alert alert-danger" *ngIf="!password.valid && password.touched"> Password is required! </div>    
             		 <div class="alert error" [innerHTML]="htmlStr" ></div>
                 </label>
         	 </div>
        	</div>
        </div>
        
        
        <div class="row">

          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a href="forgot-password.html">I forgot my password</a>
      </p>
      <p class="mb-0">
        <a href="register.html" class="text-center">Register a new membership</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
          </div>
          </div>
          </div>
          </section>
          </div>


