  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Pretrazi....</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

<section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-info">
           
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Naslov knjige</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Unesite naslov..">
                  </div>
                   <div class="form-group">
                    <label for="exampleInputEmail1">Ime i prezime autora</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Unesite ime i prezime...">
                  </div>
               
                
  
                </div>
                <!-- /.card-body -->


                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Potvrdi</button>
                </div>
                <div class="card-footer">
                  <div class="col">
                    <a id="hrefButton"  class="btn btn-success btn-block">Buy</a>
                  </div>
                </div>
                <div class="card-footer">
                  <a id="hrefButton"
                      class="btn btn-success btn-block">Download</a>
                </div>
                
              </form>
         
            </div>
         </div>
        </div>
     </div>
</section>
</div>