  <div class="content-wrapper">

<section class="content-header">
      <div class="container-fluid">
        <h4 class="text-center display-4">Pretraga</h4>
      </div>
    </section>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form >
                        <div class="input-group input-group-lg">
                            <input type="search" class="form-control form-control-lg" placeholder="Unesite pojam pretrage..">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-lg btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                   		<div class="col-10">
                                <div class="form-group">
                                    <label>Result Type:</label>
                                    <select class="select2" multiple="multiple" data-placeholder="Any" style="width: 100%;">
                                        <option>Text only</option>
                                        <option>Images</option>
                                        <option>Video</option>
                                    </select>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-10 offset-md-1">
                    <div class="list-group">
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-12">
 				<div class="card">

		              <!-- /.card-header -->
		              <div class="card-body table-responsive p-0">
		                <table class="table table-hover text-nowrap">
		                  <thead>
		                    <tr>
		                      <th>Naslov</th>
		                      <th>Pisac</th>
		                      <th>Zanr</th>
		                      <th></th>
		                      <th></th>
		                    </tr>
		                  </thead>
		                  <tbody>
		                    <tr	*ngFor="let b of books">
		                      <td>{{b.title}}</td>
		                      <td>{{b.writer}}</td>
		                      <td>{{b.genre}}</td>
		                      <td>
		                     	 <button type="button" class="btn btn-success btn-block" [hidden]="b.openaccess" >
		                     	 	Kupi</button>
		                      </td>
		                      <td>
		                     	 <button type="button" class="btn btn-success btn-block" [hidden]="!b.openaccess" >
		                     	 	Preuzmi
		                      	</button>
		                      </td>
		                     
		                    </tr>
		                    
		                  </tbody>
		                </table>
		              </div>
	              <!-- /.card-body -->
            		</div>
        			 </div>
                            </div>
                        </div>
                        
                        <!-- >div class="list-group-item">
                            <div class="row">
                                 <div class="col px-4">
                                    <div>
                                        <div class="float-right">2021-04-20 10:14pm</div>
                                        <h3>Lorem ipsum dolor sit amet</h3>
                                        <p class="mb-0">consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    </div>
                                </div>
                            </div>
                        </div-->
                        
                    </div>
                </div>
            </div>
           
          
            
        </div>
    </section>

<!--section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-info">
              <form>
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Naslov knjige</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Unesite naslov..">
                  </div>
                   <div class="form-group">
                    <label for="exampleInputEmail1">Ime i prezime autora</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Unesite ime i prezime...">
                  </div>
               
                
  
                </div>
            


                <!-- >div class="card-footer">
                  <button type="submit" class="btn btn-primary">Potvrdi</button>
                </div>
                <div class="card-footer">
                  <div class="col">
                    <a id="hrefButton"  class="btn btn-success btn-block">Buy</a>
                  </div>
                </div>
                <div class="card-footer">
                  <a id="hrefButton"
                      class="btn btn-success btn-block">Download</a>
                </div>
                
              </form>
         
            </div>
         </div>
        </div>
     </div>
</section-->



</div>